doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Login
    link(rel="stylesheet", href="/css/styles.css")
  body
    h1.text-3xl.font-bold.text-blue-500 Bienvenido
    .bg-gray-100.p-4
      button.bg-blue-500.text-white.px-4.py-2.rounded Haz clic