extends ../layout/index 

block content
    .py-10
        h1.text-4xl.my-10.font-extrabold.text-center Bienes
            span.font-normal Raíces
        h2.text-center.text-2x1.font-extrabold= page

        .mt-8.mx-auto.max-w-md
            .bg-white.py-8.px-4.shadow
                form.space-y-5
                    div
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="nombre") Tu nombre
                        input#nombre.px-4.w-full.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Tu Nombre" type="text" name="nombre")

                    div
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="email") Tu email
                        input#email.px-4.w-full.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Tu Nombre" type="text" name="email")
                    
                    div
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="password") Tu password
                        input#password.px-4.w-full.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Tu Nombre" type="password" name="nombre")
                    
                    div
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="repetirPassword") Repetir password
                        input#repetirPassword.px-4.w-full.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Tu Nombre" type="password" name="repetirPassword")
                    
                    .flex.items-center.justify-between 
                        a.text-gray-500.xs(href='/auth/login') ¿Ya tienes cuenta? Inicia sesión
                        a.text-gray-500.xs(href='/auth/forget-password') Olvidé mi Password
                    
                    input(class="w-full bg-indigo-600 text-white hover:bg-indigo-700" type="submit" value="Crear cuenta")